<div class="center-block row">
    <div class="col-md-3">
        <div class="bs-docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav bs-docs-sidenav">
                <li class="active">
                    <a href="#firstPos">עמדה ראשונית</a>
                </li>
                <li class="">
                    <a href="#eoShvat">עד סוף שבט</a>
                </li>
                <li class="">
                    <a href="#eoAdar">עד סוף אדר</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9" role="main" ng-controller="directionController">
        <div class="bs-docs-section">
            <h1 id="firstPos" class="page-header">עמדה ראשונית</h1>
            <div class="btn-group">
                <button type="button" class="btn btn-default">ישיבה</button>
                <button type="button" class="btn btn-default">מכינה</button>
                <button type="button" class="btn btn-default">צבא</button>
                <button type="button" class="btn btn-default">מתלבט</button>
            </div>
        </div>
        <div class="bs-docs-section">
            <h1 id="eoShvat" class="page-header">עד סוף שבט</h1>

            <div class="btn-toolbar" role="toolbar" style="padding-bottom:10px">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> הוסף שבו"ש
                </button>
            </div>

            <li ng-repeat="visit in visits.shvat">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">משוב שבו"ש - {{visit.inst}}</h3>
                    </div>
                    <div class="panel-body">
                        <textarea class="form-control">{{visit.feedback}}</textarea>
                    <div/>
                </div>
            </li>

        </div>

        <div class="bs-docs-section">
            <h1 id="eoAdar" class="page-header">עד סוף אדר</h1>

            <div class="btn-toolbar" role="toolbar" style="padding-bottom:10px">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> הוסף שבו"ש
                </button>
            </div>

            <li ng-repeat="visit in visits.adar">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">משוב שבו"ש - {{visit.inst}}</h3>
                    </div>
                    <div class="panel-body">
                        <textarea class="form-control">{{visit.feedback}}</textarea>
                    <div/>
                 </div>
            </li>

            <div class="switch-toggle switch-3 well">
                <input id="miliPostpSent" name="view3" type="radio">
                <label for="miliPostpSent" onclick="">דחיית גיוס נשלחה</label>

                <input id="miliPostpNotSent" name="view3" type="radio">
                <label for="miliPostpNotSent" onclick="">דחיית גיוס לא נשלחה</label>

                <input id="miliPostpNotInPros" name="view3" type="radio">
                <label for="miliPostpNotInPros" onclick="">דחיית גיוס בתהליך</label>

                <a class="btn btn-primary"></a>
            </div>

            <div class="switch-toggle switch-3 well">
                <input id="miliPostpAppr" name="view3" type="radio">
                <label for="miliPostpAppr" onclick="">דחיית גיוס אושרה</label>

                <input id="miliPostpNotAppr" name="view3" type="radio">
                <label for="miliPostpNotAppr" onclick="">דחיית גיוס לא אושרה</label>

                <input id="miliPostpUnknow" name="view3" type="radio">
                <label for="miliPostpUnknow" onclick="">לא ידוע סטטוס דחיית גיוס</label>

                <a class="btn btn-primary"></a>
            </div>


        </div>

    </div>
</div>