<div class="center-block row">
    <div class="col-md-3">
        <div class="bs-docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav bs-docs-sidenav">
                <li class="active">
                    <a href="#firstPos">עמדה ראשונית</a>
                </li>
                <li class="">
                    <a href="#eoShvat">עד סוף שבט</a>
                </li>
                <li class="">
                    <a href="#eoAdar">עד סוף אדר</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9" role="main">
        <div class="bs-docs-section">
            <h1 id="firstPos" class="page-header">עמדה ראשונית</h1>
            <div class="btn-group">
                <button type="button" class="btn btn-default">ישיבה</button>
                <button type="button" class="btn btn-default">מכינה</button>
                <button type="button" class="btn btn-default">צבא</button>
                <button type="button" class="btn btn-default">מתלבט</button>
            </div>
        </div>
        <div class="bs-docs-section">
            <h1 id="eoShvat" class="page-header">עד סוף שבט</h1>

            <div class="btn-toolbar" role="toolbar" style="padding-bottom:10px">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> הוסף שבו"ש
                </button>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">משוב שבו"ש - קרני שומרון</h3>
                </div>
                <div class="panel-body">היה מוצלח</div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">משוב שבו"ש - ישיבת תל אביב</h3>
                </div>
                <div class="panel-body">היה מעפן</div>
            </div>

        </div>

        <div class="bs-docs-section">
            <h1 id="eoAdar" class="page-header">עד סוף אדר</h1>

            <div class="btn-toolbar" role="toolbar" style="padding-bottom:10px">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> הוסף שבו"ש
                </button>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">משוב שבו"ש - עלי</h3>
                </div>
                <div class="panel-body">היה מאוד מוצלח, נראה שזה המקום</div>
            </div>

        </div>

    </div>
</div>