<div class="" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="חיפוש מהיר...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                </div>
                <!-- /input-group -->
            </li>

            <li class="nav-header">כללי</li>
            <li><a href="/"><i class="icon icon-black icon-home"></i>&nbsp;&nbsp;דף הבית</a></li>

            <li class="nav-header">מנו"ף</li>
            <li><a ui-sref="app.wizard"><i class="icon icon-black icon-folder-open"></i><span>&nbsp;&nbsp;אשף פעילות חדשה</span></a></li>

            <li class="nav-header hidden-tablet">התלמידים שלי</li>
            <li><a href="#"><i class="icon icon-black icon-briefcase"></i><span>&nbsp;&nbsp;כיתות</span></a></li>
            <li><a href="#"><i class="icon-headphones"></i><span>&nbsp;&nbsp;שיחות</span></a></li>
            <li><a ui-sref="app.direction"><i class="icon-road"></i><span>&nbsp;&nbsp;הכוון</span></a></li>
            <li><a href="#"><i class="icon icon-black icon-flag"></i><span>&nbsp;&nbsp;פעילויות</span></a></li>
            <li class="nav-header hidden-tablet">דו"חות</li>

        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
